
    /* Background da aplicação */

.root {
    -fx-background-color: #fcfcfc;
}

        /* Configuracao dos Botoes Abrir Contato, Adicionar Contato e Editar */

.blue-button {
     -jfx-button-type: RAISED;
     -fx-background-color: #5164ae;
     -fx-text-fill: white;
     -fx-background-radius: 0;
}

.orange-button {
     -jfx-button-type: RAISED;
     -fx-background-color: #ff7f02;
     -fx-text-fill: white;
     -fx-background-radius: 0;
}

    /* botão adicionar contato */

.add-button {
    -fx-background-color: #00ff2e;
}

    /* Configurando fields */

.text-field, .text-area {
    -fx-background-insets: 0;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-text-box-border: transparent;
}

.text-field:focused, .text-area:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}
    /* Essa classe sera adicionada quando algum campo for invalido */

.borda-vermelha {
    -fx-border-color: red;
}

    /* Configuracoes da List View */

.jfx-list-view {
    -fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10;
    -jfx-expanded: false;
    -fx-background-color: #fbfbfb;
}

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #8e8e8e;
    -fx-border-style: dotted;
}

.jfx-list-cell:empty{
    -fx-border-width: 0;
}

.jfx-list-cell-container {
    -fx-alignment: center-left;

}

.jfx-list-cell:odd, .jfx-list-cell:even {
    -fx-background-color: #f5f5f5;

}

.jfx-list-cell:filled:hover {
    -fx-background-color: #f7f7f7;
    -fx-text-fill: black;
}

.jfx-list-cell:odd:selected > .jfx-rippler > StackPane, .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: #5164ae;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #8e8e8e;
    -fx-border-style: dotted;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #97c7e2;
}
