.root {
    -fx-background-color: #fcfcfc;
    -fx-focus-color: transparent;
}

    /* Configuracoes de Botoes */

        /* Configuracao do Botao Adicionar */

.button {
    -fx-background-color: #1d96c6;
    -fx-background-radius: 0 5 5 0;

}

        /* Configuracao dos Botoes Abrir Contato, Adicionar Contato e Editar */

#adicionar-button {
    -fx-background-radius: 5;
    -fx-background-color: #1d96c6;
    -fx-text-fill: white;
}

        /* Configuracao do Botao Salvar */

#salvar-button {
    -fx-background-radius: 5;
    -fx-background-color: #177da5;
    -fx-text-fill: white;
}

        /* Configuracao dos botoes Voltar, Excluir Contato */

#cancelar-button {
    -fx-background-radius: 5;
    -fx-background-color: #ff6d01;
    -fx-text-fill: white;
}

    /* Configurando fields */


        /* Configuracao do Text Field da Janela Principal */

.text-field {
    -fx-background-radius: 5 0 0 5;

}

.text-field:focused {
    -fx-focus-color: #1593c4;
}

    /* Configurando os outros Text Fields da Aplicacao */

.adicionar-field {
    -fx-background-radius: 2;
}

.adicionar-field:focused {
    -fx-focus-color: transparent;
}

    /* Essa classe sera adicionada quando algum campo for invalido */

.borda-vermelha {
    -fx-border-color: red;
}

    /* Configuracoes da List View */

.list-cell {
    -fx-font-size: 28px;
}

.list-cell:filled:selected {
    -fx-background-color: #1593c4;
    -fx-text-fill: white;
}

